/* layer: shortcuts */
.wrapper{margin-left:auto;margin-right:auto;width:min(65rem,100%);padding-left:2.5rem;padding-right:2.5rem;}
/* layer: default */
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0;}
.pos-sticky{position:sticky;}
.relative{position:relative;}
.top-0{top:0rem;}
.z-10{z-index:10;}
.grid{display:grid;}
.mx-auto{margin-left:auto;margin-right:auto;}
.h-\[50vh\]{height:50vh;}
.h-10{height:2.5rem;}
.min-h-\[calc\(100vh-5rem\)\]{min-height:calc(100vh - 5rem);}
.w-10,
.w10{width:2.5rem;}
.w-full{width:100%;}
.flex{display:flex;}
.place-items-center{place-items:center;}
.items-center{align-items:center;}
.justify-end{justify-content:flex-end;}
.justify-between{justify-content:space-between;}
.gap-10{grid-gap:2.5rem;gap:2.5rem;}
.gap-5{grid-gap:1.25rem;gap:1.25rem;}
.border-2{border-width:2px;border-style:solid;}
.border-gray{--un-border-opacity:1;border-color:rgba(156,163,175,var(--un-border-opacity));}
.border-purple{--un-border-opacity:1;border-color:rgba(192,132,252,var(--un-border-opacity));}
.rounded{border-radius:0.25rem;}
.rounded-full{border-radius:9999px;}
.p-2{padding:0.5rem;}
.px-10{padding-left:2.5rem;padding-right:2.5rem;}
.py-5{padding-top:1.25rem;padding-bottom:1.25rem;}
.font-bold{font-weight:700;}
.color-red-500{--un-text-opacity:1;color:rgba(239,68,68,var(--un-text-opacity));}
.hover\:text-red-600:hover{--un-text-opacity:1;color:rgba(220,38,38,var(--un-text-opacity));}
.text-black{--un-text-opacity:1;color:rgba(0,0,0,var(--un-text-opacity));}
.transition-colors-200{transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:200ms;}
.border-bottom-2{border-bottom:2px solid;}
.border-top-2{border-top:2px solid;}