:root {
  --gradient-about: linear-gradient(
    120deg,
    var(--about-base) 0%,
    var(--about-base) 20%,
    var(--about-lighter) 20%,
    var(--about-lighter) 50%,
    var(--about-base) 50%,
    var(--about-base) 55%,
    var(--about-lighter) 55%,
    var(--about-lighter) 58%,
    var(--about-base) 58%,
    var(--about-base) 100%
  );

  --gradient-works: linear-gradient(
    120deg,
    var(--works-base) 0%,
    var(--works-base) 15%,
    var(--works-lighter) 15%,
    var(--works-lighter) 35%,
    var(--works-base) 35%,
    var(--works-base) 40%,
    var(--works-lighter) 40%,
    var(--works-lighter) 45%,
    var(--works-base) 45%,
    var(--works-base) 90%,
    var(--works-lighter) 90%,
    var(--works-lighter) 95%,
    var(--works-base) 95%,
    var(--works-base) 100%
  );

  --gradient-contact: linear-gradient(
    120deg,
    var(--contact-base) 0%,
    var(--contact-base) 20%,
    var(--contact-lighter) 20%,
    var(--contact-lighter) 50%,
    var(--contact-base) 50%,
    var(--contact-base) 55%,
    var(--contact-lighter) 55%,
    var(--contact-lighter) 58%,
    var(--contact-base) 58%,
    var(--contact-base) 100%
  );
}
.gradient-about {
  background-image: var(--gradient-about);
}
.gradient-works {
  background-image: var(--gradient-works);
}
.gradient-contact {
  background-image: var(--gradient-contact);
}

.shadow-card {
  box-shadow: -7px 7px 0px var(--dark-black);
}

.shadow-rounded {
  box-shadow: 0 3px 0 var(--dark-black);
}

.card-skill-wrapper {
  display: grid;
  place-items: center;
  grid-template-rows: 2.5rem 1fr 2.5rem;
  gap: 1.5rem;
}

.card-skill {
  display: grid;
  grid-template-rows: 7rem min-content;
  grid-template-columns: minmax(0, 8.3rem);
}
