.timeline {
  --row: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  gap: 2.5rem;
}

.timeline__line {
  z-index: -1;
  position: absolute;
  inset-block: 0;
  grid-column: 2 / 3;
  width: 3px;
  background-image: linear-gradient(
    to bottom,
    var(--body-bg),
    var(--text),
    var(--body-bg)
  );
}

.timeline__panel {
  grid-column: 1 / -1;
}

@media screen and (min-width: 768px) {
  .timeline__panel {
    grid-row: var(--row);
  }

  .timeline__panel:nth-child(odd) {
    grid-column: 1;
  }
  .timeline__panel:nth-child(even) {
    grid-column: 3;
  }
}
