/* https://web.dev/variable-fonts/#fallbacks */
@font-face {
  font-family: 'Archivo Italic';
  src: url('/fonts/Archivo-variable.ttf') format('truetype-variations');
  font-display: display;
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Epilogue';
  src: url('/fonts/Epilogue-variable.ttf') format('truetype-variations');
  font-display: display;
  font-weight: 500;
  font-style: normal;
}

:root {
  --header-height: 5rem;
  --offset-header: calc(100vh - var(--header-height));
}

body {
  background-color: var(--body-bg);
  color: var(--text);
  font-family: var(--font-base);
}

a {
  color: var(--text);
  text-underline-offset: 0.2em;
}
