/* https://web.dev/variable-fonts/#fallbacks */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-Black.ttf');
    font-display: swap;
    font-weight: 900;
  }

  @font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-Regular.ttf');
    font-display: swap;
    font-weight: 500;
  }

  @font-face {
    font-family: 'Archivo Italic';
    src: url('/fonts/Archivo-Bold.ttf');
    font-display: swap;
    font-weight: bold;
  }
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Epilogue';
    src: url('/fonts/Epilogue-variable.ttf') format('truetype-variations'),
      url('/fonts/Epilogue-variable.ttf') format('truetype supports variations');
    font-weight: 100 900;
    font-display: swap;
  }

  @font-face {
    font-family: 'Archivo Italic';
    src: url('/fonts/Archivo-variable.ttf') format('truetype-variations'),
      url('/fonts/Archivo-variable.ttf') format('truetype supports variations');
    font-weight: 100 900;
    font-stretch: 62% 125%;
    font-display: swap;
  }
}

a {
  color: var(--text);
  text-underline-offset: 0.2em;
}
