/**TODO use gradient as border and use element as shadow for animation*/

.wrapper {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
}

.ring-shadow {
  box-shadow: 0 0 0 3px var(--dark-black);
}

.shadow-card {
  box-shadow: -7px 7px 0px var(--dark-black);
}

.shadow-rounded {
  box-shadow: 0 3px 0 var(--dark-black);
}

.gradient-about {
  background-image: var(--gradient-about);
}
.gradient-works {
  background-image: var(--gradient-works);
}
.gradient-contact {
  background-image: var(--gradient-contact);
}

.bg-grid-50 {
  background-size: 50px 50px;
  background-position: 0 0, 0 -25.5px, -25.5px -25.5px;
  background-image: radial-gradient(var(--circle) 1px, transparent 2px),
    linear-gradient(var(--line) 0.04rem, transparent 0.04rem),
    linear-gradient(90deg, var(--line) 0.04rem, transparent 0.04rem);
}

.bg-grid-15 {
  background-size: 15px 15px;
  background-position: 0 0, 5px 5px;
  background-image: linear-gradient(var(--line) 0.04rem, transparent 0.04rem),
    linear-gradient(90deg, var(--line) 0.04rem, transparent 0.04rem);
}

.bg-grid-25 {
  background-size: 25px 25px;
  background-position: -10px 10px, -10px 10px;
  background-image: linear-gradient(var(--line) 0.04rem, transparent 0.04rem),
    linear-gradient(90deg, var(--line) 0.04rem, transparent 0.04rem);
}

.bg-grid-header {
  backdrop-filter: blur(2px) saturate(180%) contrast(1);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-image: linear-gradient(var(--body-bg) 0.04rem, transparent 0.04rem),
    linear-gradient(90deg, var(--body-bg) 0.04rem, transparent 0.04rem);
}
